//*********** GENERELT ************//

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Taviraj', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}













































//*************** GENERELT SLUT *************//
