//*********** GENERELT ************//

/*font-family: 'Taviraj', serif;
font-family: 'Roboto', sans-serif;
*/

* {}

h1,
h2,
h3 {
    font-family: 'Taviraj', serif;
    font-size: 0.3em;
    margin: 0;
    padding: 0;

}

.header_overskrift {
    padding-bottom: 0.3em;
}

#kategori_overskrift {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6em;
    color: #fff;
    margin-top: 0.3em;
    padding: 0;

}

#kategori_overskrift .kategori_indhold {
    border-bottom: 0.1px solid #fff;
    width: 300px;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #361b27;

}

#showcase {
    background-image: url(japan_img/header.jpg);
    background-size: cover;
    width: 100vw;
    height: 30vw;
}

#showcase_container {
    background: rgba(15, 15, 15, 0.65);
    width: 100vw;
    height: 30vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-size: 3em;
    letter-spacing: 0.1em;
    padding-left: 0.2em;

}

#showcase_container .logo {
    display: none;
}



/*----------------Burger menu -----------------*/
.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.nav-active {
    transform: translateY(0%);
}

html {
    overflow-x: hidden;
}

.nav_links {
    position: absolute;
    right: 0v;
    height: 60vh;
    top: -2vh;
    background: rgba(15, 15, 15, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: translateY(-180%);
}

.nav_links button {
    padding-top: 0;
    margin: 0;
    margin: 1.4em;
    font-size: 0.4em;
    background-color: transparent;
    border: none;
    color: #fff;
}

.burger {
    display: block;
    align-self: flex-start;
    padding-right: 0.3em;
    padding-top: 0.1em;
    background-color: #000;
    z-index: 2;
}


.nav-active {
    transform: translateY(0%);
}

#desktop_nav {
    display: none;
}

.hidden {
    display: none;
}


@media screen and (min-width:600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #desktop_nav {
        display: flex;
        justify-content: center;
    }

    #desktop_nav button {
        margin: 1em;
        margin-top: 4em;
        padding-right: 1em;
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        border: none;
        font-size: 1em;
        cursor: pointer;
        color: #fff;
        letter-spacing: 0.2em;
    }

    #desktop_nav button:hover {
        color: #b1799b;
        transition: 0.2s;
    }

    .burger {
        display: none;
    }

    .desktop_nav {}

    h1,
    h2,
    h3 {
        font-family: 'Taviraj', serif;
        font-size: 0.3em;
        margin: 0;
        padding: 0;

    }

    .header_overskrift {
        display: none;
    }

    #kategori_overskrift {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6em;
        color: #fff;
        margin-top: 0.3em;
        padding: 0;

    }

    #kategori_overskrift .kategori_indhold {
        border-bottom: 0.1px solid #fff;
        width: 300px;
        padding: 0;
        margin: 0;
    }

    img {
        width: 100%;
    }

    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #361b27;

    }

    #showcase {
        background-image: url(japan_img/header_desktop.jpg);
        background-size: cover;
        width: 100vw;
        height: 15vw;
        position: relative;
    }

    #showcase_container {
        background: rgba(15, 15, 15, 0.65);
        width: 100vw;
        height: 15vw;
        color: #fff;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 7em;
        letter-spacing: 0.1em;
        padding-left: 0.2em;

    }

    #showcase_container .logo {
        display: block;
        width: 150px;
        align-self: flex-start;

    }


}










/*----------------KEYFRAMES--------------------------*/

.drop {
    animation-name: drop_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes drop_kf {
    from {
        transform: translateY(-130vw);
    }

    to {
        transform: translateY(2vw);
    }
}











































//*************** GENERELT SLUT *************//
